# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f8ab6745b8d00dc5c02bc3549d0eb495"
name = "branding-enquiry-app"
application_url = "https://branded-enquiry-app.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://branded-enquiry-app.onrender.com/api/auth" ]

[app_proxy]
url = "https://branded-enquiry-app.onrender.com/proxy/enquiry"
subpath = "enquiry"
prefix = "apps"
